* {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                font-family: averta cy;
            }
            .game {
                border: 1px solid black;
                box-shadow: 2px 2px 0 black;
                border-radius: 10px;
                transition: 0.5s background;
            }
            .game:hover.active {
                background: #ffd8d8;
            }
            .game:hover {
                background: #b9ffd4;
            }
            .game:active {
                transform: translate(2px, 2px);
                box-shadow: none;
            }
            button {
                user-select: none;
                height: 40px;
                width: 40px;
                margin: 0 2px 0 10px;
                cursor: pointer;
            }
            .container {
                width: fit-content;
                margin: 100px auto;
                padding: 10px;
                border: 1px solid black;
                box-shadow: 2px 2px 0 black;
                border-radius: 10px;
            }
            .container header input {
                outline: none;
                height: 40px;
                width: 300px;
                padding: 0 0 0 10px;
            }
            .container header input:hover {
                background: unset;
            }

            ul {
                margin: 0;
                list-style: none;
            }
            ul li {
                width: 100%;
                display: flex;
                align-items: start;
                justify-content: start;
                margin: 10px 0 0 0;
            }
            ul li button.game:hover {
                background: #ffd8d8;
            }
            p {
                width: calc(100% - 52px);
                height: 40px;
                border: 1px solid red;
                display: flex;
                padding: 0 0 0 10px;
                align-items: center;
                font-size: 14px;
            }
            p.game:hover {
                background: unset;
            }
            p.game:active {
                background: unset;
                transform: unset;
                box-shadow: 2px 2px 0 black;
            }
